/* 
Version: CSS v1.1
Authour: Hein (elTOV Singapore)
Time: 28th January 2019
*/
a {
  cursor: pointer !important;
}

.img-fluid {
  width: 100%;
}

.n-pad {
  padding: 0px;
}

.panel-body {
  position: relative;
}

.card {
  background-color: #FFFFFF;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-bottom: 35px;
  display: inline-block;
  text-align: left;
}
.card:hover {
  -webkit-box-shadow: 7px 5px 10px -5px #b1b1b1;
          box-shadow: 7px 5px 10px -5px #b1b1b1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  position: relative;
  z-index: 99;
}
.card .card-image {
  width: 100%;
  height: 160px;
}
.card .card-body {
  border: 1px solid #b1b1b1;
  padding: 15px;
  width: 100%;
}
.card .card-body p {
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .delete-file {
  position: absolute;
  top: 35px;
  right: 5px;
  padding: 7px 8px;
  border-radius: 100%;
}
.card .single-row {
  position: absolute;
  top: 5px;
  right: 5px;
  margin: 0px;
  width: initial;
}
.card .single-row div {
  margin: 0px;
}
.card .edit-file {
  position: absolute;
  top: 65px;
  right: 5px;
  padding: 7px 8px;
  border-radius: 100%;
}
.card .tag {
  position: absolute;
  border-radius: 100%;
  padding: 8px;
  top: 5px;
  left: 5px;
  background: #333333;
  color: #FFFFFF;
}

.form-group {
  margin-bottom: 25px;
}
.form-group .form-control {
  border-color: #b1b1b1;
  color: #333333;
}
.form-group .input-lg {
  font-size: 16px;
}

.nav-tabs {
  border: 1px solid #b1b1b1;
}

#search-bar {
  border: 1px solid #b1b1b1;
}
#search-bar .search-btn {
  position: relative;
  margin: 0px;
}
#search-bar .search-btn input {
  padding-left: 50px;
  border: 0px;
}
#search-bar .search-btn .fa-search {
  position: absolute;
  top: 10px;
  left: 5px;
}
#search-bar .search-btn .advance-search-box {
  padding: 15px 0px;
}
#search-bar .media-type-btn select {
  width: 100%;
}
#search-bar select {
  width: 65%;
  display: inline-block;
  border: 0px;
  color: #333333;
}
#search-bar #filter-box {
  padding: 0px;
}
#search-bar #filter-box > div {
  padding: 6px 15px;
  text-align: center;
}

#advance-box {
  margin-bottom: 25px;
}
#advance-box .advsearch-content {
  border: 1px solid #b1b1b1;
  border-top: 0px;
}
#advance-box .adv-search-btn {
  margin-top: -1px;
  font-size: 11px;
  border-radius: 0px 0px 100px 100px;
}
#advance-box .adv-search-btn i {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}
#advance-box .adv-search-btn.active i {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}
#advance-box .search-label {
  min-width: 150px;
  text-align: right;
}

#search-bar-bottom {
  margin-top: 15px;
}
#search-bar-bottom select {
  background: transparent;
  border: 0px;
  color: #333333;
}

#select-screen {
  display: none;
}
#select-screen .select-screen-boxes .screen-box {
  display: none;
}
#select-screen .select-screen-boxes .screen-box.active {
  display: block;
}
#select-screen .select-screen-boxes .screen-box .single-row {
  border: 1px solid #b1b1b1;
  padding: 5px;
  text-align: center;
  margin-bottom: 25px;
}
#select-screen .select-screen-boxes .screen-box .single-row .radio {
  padding: 0px;
}
#select-screen .select-screen-boxes .screen-box .single-row .radio .iradio_square-green {
  display: none;
}
#select-screen .select-screen-boxes .screen-box .row {
  display: none;
}

/* Schedule Page */
#wizard {
  padding: 25px 0px;
}
#wizard #result, #wizard .panel-group.collapse {
  max-height: 600px;
  overflow: auto;
}
#wizard .theme-group-add {
  max-height: 810px;
  overflow: auto;
}
#wizard .nav-tabs {
  border: 0px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
}

.step-title span {
  font-weight: bold;
  font-style: italic;
}

#schedule-select-screen .single-row {
  padding: 5px;
  text-align: center;
  margin-bottom: 25px;
}
#schedule-select-screen .single-row .radio {
  padding: 0px;
}
#schedule-select-screen .single-row .radio .iradio_square-green {
  display: none;
}
#schedule-select-screen .screen-box.current .single-row {
  border: 0px;
}
#schedule-select-screen .screen-box.current .single-row img {
  width: 110px;
}

#schedule-create-playlist #advance-box .search-label {
  text-align: left;
}

#theme-file-upload .panel-heading .nav > li {
  vertical-align: top;
}
#theme-file-upload .panel-heading .nav > li a {
  font-size: 10px;
  padding: 5px !important;
  height: 100px;
}
#theme-file-upload .panel-heading .nav > li a img {
  margin: 0px auto;
  height: 35px;
}
#theme-file-upload .panel-heading .nav > li a i {
  font-size: 35px;
  margin-bottom: 15px;
}

.theme-template-wrapper img {
  display: none;
}
.theme-template-wrapper img.active {
  display: block !important;
}

.schedule-content {
  width: 100%;
  /*height: 686px;*/
  border: 1px dashed #333333;
  overflow: auto;
  padding: 25px;
}

.back-select-screen {
  position: absolute;
  cursor: pointer;
  background-color: #333333;
  padding: 11px 15px;
  border-radius: 25px;
  color: #FFFFFF;
  line-height: 0px;
  right: 15px;
  z-index: 99;
  top: 15px;
}
.back-select-screen:hover span {
  width: initial;
}

.clone {
  width: 100% !important;
  z-index: 99;
  margin-bottom: 25px;
}
.clone .drag-marker {
  /*display: none;*/
}

.mediafile, .clone {
  background: #FFFFFF;
  position: relative;
}
.mediafile table, .clone table {
  width: 100%;
  min-width: 500px;
  border-collapse: separate;
  border-spacing: 9px;
  border: 1px solid #b1b1b1;
  margin-bottom: 15px;
}
.mediafile table td, .clone table td {
  vertical-align: top;
}
.mediafile table img, .clone table img {
  max-width: 50px;
  margin-left: 7px;
}

.drag-marker {
  padding-top: 10px;
}

.theme-list {
  border: 1px solid #DDD;
  border-radius: 15px 15px 0px 0px;
  padding: 15px;
}

input[name="setTime"] {
  width: 40px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid #8075c4;
  margin-right: 5px;
  padding: 0px 5px;
}

#schedule-create-playlist .schedule-content ul {
  padding: 0px;
}
#schedule-create-playlist .schedule-content ul li {
  text-align: center;
  background-color: #333333;
  list-style: none;
  padding: 15px;
  min-height: 50px;
  margin: 5px 0px;
}

#schedule-create-playlist-theme .theme-create-group {
  min-height: 50px;
  margin-bottom: 15px;
  padding: 15px;
}
#schedule-create-playlist-theme ul li {
  position: relative;
  list-style: none;
  text-align: center;
}
#schedule-create-playlist-theme ul li.label {
  display: block;
  text-align: left;
  color: #000000;
}
#schedule-create-playlist-theme .schedule-content ul {
  padding: 0px;
}
#schedule-create-playlist-theme .schedule-content ul li {
  text-align: center;
  background-color: #333333;
  list-style: none;
  padding: 15px;
  min-height: 50px;
  margin: 5px 0px;
}

.theme-clone {
  padding: 15px 10px;
  text-align: center;
}
.theme-clone p {
  margin: 0px;
}
.theme-clone .todo-actionlist {
  display: none;
}

.total-vtime {
  float: left;
}

.clone-delete {
  color: #FFFFFF;
  background-color: #FF6C60;
  border-radius: 100%;
  padding: 0px 4px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.panel-heading .action {
  margin: 0px;
  position: absolute;
  right: 15px;
  top: -8px;
}

/*Account Page */
.profile-information .card {
  width: 100%;
}
.profile-information .card img {
  width: 160px;
  height: 130px !important;
}

/*General Style*/
.form-control {
  color: #000000;
}

.checkbox {
  padding: 0px;
  margin: 3px 0px;
}
.checkbox > div {
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 5px;
}

.border-box {
  border: 1px solid #b1b1b1;
}

.popover {
  min-width: 200px;
  z-index: 999;
  text-align: center;
}

.action-menu-box {
  height: 45px;
  margin-bottom: 25px;
}

.delete-selected {
  border: 1px solid #FF6C60;
  background-color: #ff6c60d1;
  color: #FFFFFF;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 25px;
  position: fixed;
  bottom: 0px;
  left: 50%;
  z-index: 999;
}
.delete-selected #select-all {
  display: inline-block;
  margin-right: 10px;
}
.delete-selected a {
  color: #FFFFFF;
}
.delete-selected a i {
  font-size: 20px;
}

.action-selected {
  position: fixed;
  border: 1px solid #333;
  background-color: #ffffffde;
  padding: 15px 16px 0px 16px;
  border-radius: 50px;
  left: 57%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 90px;
  z-index: 99;
}

.breadcrumb {
  background: transparent;
}

.right-border {
  border-right: 1px solid #b1b1b1;
  margin-right: -1px;
}

.top-border {
  border-top: 1px solid #b1b1b1;
  margin-top: -1px;
}

.vertical-tab ul {
  margin-bottom: 15px;
}
.vertical-tab ul li {
  display: block;
  width: 100%;
}
.vertical-tab ul li.active a {
  background-color: #FF6C60 !important;
  color: #FFFFFF !important;
  width: 100%;
}
.vertical-tab ul li a {
  border: 0px !important;
  border-radius: 0px;
  font-size: 11px;
  padding: 10px 5px;
}

/*Device page*/
#devices-wrapper .card {
  border: 1px solid #DDDDDD;
  padding: 10px;
}
#devices-wrapper .card table {
  font-size: 10px;
  width: 100%;
  border-spacing: 5px;
  border-collapse: separate;
}

#result .block {
  text-align: center;
}

.switch-select {
  margin-bottom: 19px;
}

#map {
  margin-top: 25px;
}

/* Edit Popup */
#popup {
  position: fixed;
  top: 0px;
  height: 100vh;
  overflow: auto;
  right: -100%;
  background-color: #FFFFFF;
  z-index: 999;
  width: calc(100% - 240px);
  -webkit-transition: right 1s;
  transition: right 1s;
}
#popup.active {
  right: 0%;
}
#popup .popup-inner {
  min-height: 1306px;
  overflow: auto;
}
#popup .close-edit-popup {
  float: right;
}
#popup .iradio_square-red {
  float: left;
  margin-right: 5px;
}
#popup input {
  margin-bottom: 15px;
}
#popup .radio {
  padding: 0px;
}
#popup .category-edit p {
  padding: 5px;
  border: 1px solid #b1b1b1;
}

.merge-left #popup {
  width: 100% !important;
}

/* Buttons */
.upload-btn, .cancel-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  text-align: center;
}

.media-type-btn {
  padding: 6px 15px;
  text-align: center;
  background: #DDDDDD;
}
.media-type-btn select {
  background: #DDDDDD;
}

.btn {
  margin-bottom: 15px;
}

/* Logo */
.theme-icon {
  height: 50px;
  display: block;
  margin: 15px auto;
}

.icon {
  width: 18px;
}

/* Font Color */
.text-red {
  color: #FF6C60;
}
.text-red:hover {
  color: #FF6C60;
  font-weight: bold;
}

.text-white {
  color: #FFFFFF;
}
.text-white:hover {
  color: #FFFFFF;
}

/* Modify Theme CSS */
.upload {
  margin-bottom: 0px;
  padding: 0px;
}
.upload ul {
  padding: 0px;
}
.upload ul li {
  margin-bottom: 15px;
}

.drop {
  padding: 25px;
  font-size: 11px;
  text-decoration: initial;
}

.pagination li a {
  /*border-radius: 100%;*/
  margin: 0px 5px;
}

.profile-information .profile-desk {
  margin-bottom: 15px;
}

.badge {
  padding: 10px 15px;
  font-size: 12px;
  border-radius: 25px;
}
.badge.bg-primary {
  padding: 5px;
}
.badge.badge-image {
  padding: 0px;
  color: #000000;
  background-color: transparent;
}

/* Footer */
footer {
  position: absolute;
  padding-left: 240px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
footer .copyright {
  padding: 15px 0px;
}

/* CSS Update 1.1 add extra Classes */
.top-nav img {
  width: 35px;
  height: 35px;
}

#previewPopup .modal-dialog {
  width: 100%;
}
#previewPopup .modal-dialog .modal-body {
  overflow: auto;
}
#previewPopup .modal-dialog .modal-body .mainPreviewWrapper {
  width: 1920px;
  display: block;
  position: relative;
  height: 808px;
}
#previewPopup .modal-dialog .modal-body .mainPreviewWrapper #previewinnerVideo {
  width: 750px;
  height: 423px;
  position: absolute;
  top: 273px;
  right: 104px;
}
#previewPopup .modal-dialog .modal-body .mainPreviewWrapper #previewleftImage {
  position: absolute;
  width: 290px;
  height: 523px;
  left: 127px;
  top: 175px;
}
#previewPopup .modal-dialog .modal-body .mainPreviewWrapper #previewbottomImage {
  position: absolute;
  bottom: 111px;
  left: 518px;
}
#previewPopup .modal-dialog .modal-body .mainPreviewWrapper #previewtopImage {
  height: 100px;
  position: absolute;
  right: 82px;
  top: 94px;
}
#previewPopup .modal-dialog .modal-body .mainPreviewWrapper #previewtopImage .img1, #previewPopup .modal-dialog .modal-body .mainPreviewWrapper #previewtopImage .img2, #previewPopup .modal-dialog .modal-body .mainPreviewWrapper #previewtopImage .img3, #previewPopup .modal-dialog .modal-body .mainPreviewWrapper #previewtopImage .img4, #previewPopup .modal-dialog .modal-body .mainPreviewWrapper #previewtopImage .img5 {
  width: 120px;
  height: 100px;
  margin-right: 52px;
}
#previewPopup .modal-dialog .modal-body .mainPreviewWrapper #seaWindImage, #previewPopup .modal-dialog .modal-body .mainPreviewWrapper #mountainForestImage {
  display: none;
}
#previewPopup .modal-dialog .modal-body .mainPreviewWrapper video {
  width: 750px;
  height: 423px;
}
#previewPopup .modal-dialog .modal-footer {
  text-align: center;
  background-color: #333333;
  position: relative;
}
#previewPopup .modal-dialog .modal-footer .btn {
  margin-bottom: 0px;
}
#previewPopup .modal-dialog .modal-footer .btn.btn-close {
  position: absolute;
  right: 20px;
  top: 45px;
}
#previewPopup .mainPreviewWrapper#mountain_forest_theme #previewinnerVideo {
  top: 75px;
  right: 560px;
}
#previewPopup .mainPreviewWrapper#mountain_forest_theme #previewleftImage, #previewPopup .mainPreviewWrapper#mountain_forest_theme #previewbottomImage, #previewPopup .mainPreviewWrapper#mountain_forest_theme #previewtopImage, #previewPopup .mainPreviewWrapper#mountain_forest_theme #seaWindImage {
  display: none;
}
#previewPopup .mainPreviewWrapper#mountain_forest_theme #mountainForestImage {
  display: block;
  position: absolute;
  top: 276px;
  left: 255px;
}
#previewPopup .mainPreviewWrapper#mountain_forest_theme #mountainForestImage img {
  width: 210px;
  height: 210px;
}
#previewPopup .mainPreviewWrapper#sea_wind_theme #previewleftImage, #previewPopup .mainPreviewWrapper#sea_wind_theme #previewbottomImage, #previewPopup .mainPreviewWrapper#sea_wind_theme #previewtopImage, #previewPopup .mainPreviewWrapper#sea_wind_theme #mountainForestImage {
  display: none;
}
#previewPopup .mainPreviewWrapper#sea_wind_theme #previewinnerVideo {
  top: 75px;
  right: 560px;
}
#previewPopup .mainPreviewWrapper#sea_wind_theme #seaWindImage {
  display: block;
}
#previewPopup .mainPreviewWrapper#sea_wind_theme #seaWindImage .img-top {
  width: 212px;
  position: absolute;
  right: 209px;
  top: 50px;
}
#previewPopup .mainPreviewWrapper#sea_wind_theme #seaWindImage .img-middle {
  right: 70px;
  top: 160px;
  position: absolute;
  width: 100px;
}
#previewPopup .mainPreviewWrapper#sea_wind_theme #seaWindImage .img-bottom {
  position: absolute;
  right: 110px;
  width: 120px;
  height: 120px;
  top: 295px;
}
#previewPopup .mainPreviewWrapper#intro_video #previewleftImage, #previewPopup .mainPreviewWrapper#intro_video #previewbottomImage, #previewPopup .mainPreviewWrapper#intro_video #previewtopImage, #previewPopup .mainPreviewWrapper#intro_video #seaWindImage, #previewPopup .mainPreviewWrapper#intro_video #mountainForestImage, #previewPopup .mainPreviewWrapper#brand_video #previewleftImage, #previewPopup .mainPreviewWrapper#brand_video #previewbottomImage, #previewPopup .mainPreviewWrapper#brand_video #previewtopImage, #previewPopup .mainPreviewWrapper#brand_video #seaWindImage, #previewPopup .mainPreviewWrapper#brand_video #mountainForestImage {
  display: none;
}
#previewPopup .mainPreviewWrapper#intro_video #previewinnerVideo, #previewPopup .mainPreviewWrapper#brand_video #previewinnerVideo {
  width: 100%;
  height: initial;
  left: 0px;
  top: 0px;
}
#previewPopup .mainPreviewWrapper#intro_video #previewinnerVideo video, #previewPopup .mainPreviewWrapper#brand_video #previewinnerVideo video {
  width: 1920px;
  height: 808px;
}

#previewPortraitPopup.portrait video {
  width: 100%;
}
#previewPortraitPopup.portrait .mainPreviewWrapper {
  width: 560px;
}
#previewPortraitPopup.portrait .mainPreviewWrapper #portraitImageList {
  background-size: 100%;
  top: 0px;
  height: 3295px;
}
#previewPortraitPopup.portrait .mainPreviewWrapper #portraitImageList img {
  width: 137px;
  margin-left: 143px;
  margin-top: 1px;
}
#previewPortraitPopup.portrait .mainPreviewWrapper #portraitImageList img:nth-child(4n-1) {
  margin-left: 0px;
}
#previewPortraitPopup.portrait .modal-footer {
  text-align: center;
  background-color: #333333;
  position: relative;
}
#previewPortraitPopup.portrait .modal-footer .btn {
  margin-bottom: 0px;
}
#previewPortraitPopup.portrait .modal-footer .btn.btn-close {
  position: absolute;
  right: 20px;
  top: 45px;
}

#previewPortraitPopup.landscape video {
  width: 100%;
}
#previewPortraitPopup.landscape .modal-dialog {
  width: 100%;
}
#previewPortraitPopup.landscape .modal-dialog .modal-body {
  overflow: auto;
}
#previewPortraitPopup.landscape .mainPreviewWrapper {
  width: 1920px;
  display: block;
  position: relative;
}
#previewPortraitPopup.landscape .mainPreviewWrapper #portraitImageList {
  background-size: initial;
  top: 0px;
  height: 3295px;
}
#previewPortraitPopup.landscape .mainPreviewWrapper #portraitImageList img {
  margin-left: 252px;
  margin-top: 7px;
}
#previewPortraitPopup.landscape .mainPreviewWrapper #portraitImageList img:nth-child(8n-3) {
  margin-left: 10px;
}
#previewPortraitPopup.landscape .modal-footer {
  text-align: center;
  background-color: #333333;
  position: relative;
}
#previewPortraitPopup.landscape .modal-footer .btn {
  margin-bottom: 0px;
}
#previewPortraitPopup.landscape .modal-footer .btn.btn-close {
  position: absolute;
  right: 20px;
  top: 45px;
}

.btn-prev, .btn-next {
  padding: 30px 20px;
  border-radius: 100%;
}

/*Mobile*/
@media (max-width: 450px) {
  #popup {
    width: 100%;
    margin-top: 80px;
  }

  .advsearch-content li {
    display: block;
    text-align: left !important;
  }

  .media-type-btn {
    padding: 6px 0px;
  }

  select {
    padding: 0px !important;
    width: 100% !important;
  }

  #search-bar-bottom select {
    width: initial !important;
  }

  .delete-selected {
    left: 40%;
    -webkit-transform: translate(-30%);
            transform: translate(-30%);
  }
}
