/*Mobile*/
@media (max-width: 450px){
	#popup{
		width: 100%;
		margin-top: 80px;
	}

	.advsearch-content{
		li{
			display: block;
			text-align: left !important;
		}
	}
	.media-type-btn{
		padding: 6px 0px;
	}
	select{
		padding: 0px !important;
		width: 100% !important;
	}

	#search-bar-bottom{
		select{
			width: initial !important;
		}
	}

	.delete-selected{
		left: 40%;
		transform: translate(-30%);
	}
}