/* 
Version: CSS v1.1
Authour: Hein (elTOV Singapore)
Time: 28th January 2019
*/

@import "color";
a{
	cursor: pointer !important; 
}

.img-fluid{
	width: 100%;
}

.n-pad{
	padding: 0px;
}

.panel-body {
	position: relative;
}

.card{
	background-color: $white;
	transition: all 0.7s;
	transform: scale(1);
	margin-bottom: 35px;
	display: inline-block;
	text-align: left;
	&:hover{
		box-shadow: 7px 5px 10px -5px $black3;
		transform: scale(1.1);
		position: relative;
		z-index: 99;
	}
	.card-image{
		width: 100%;
		height: 160px;
	}
	.card-body{
		border: 1px solid $black3;
		padding: 15px;
		width: 100%;
		p{
			width: 170px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.delete-file{
		position: absolute;
		top: 35px;
		right: 5px;
		padding: 7px 8px;
		border-radius: 100%;
	}
	.single-row{
		position: absolute;
		top: 5px;
		right: 5px;
		margin: 0px;
		width: initial;
		div{
			margin: 0px;
		}
	}
	.edit-file{
		position: absolute;
		top: 65px;
		right: 5px;
		padding: 7px 8px;
		border-radius: 100%;
	}
	.tag{
		position: absolute;
		border-radius: 100%;
		padding: 8px;
		top: 5px;
		left: 5px;
		background: $black2;
		color: $white;
	}
}

.form-group{
	margin-bottom: 25px;
	.form-control{
		border-color: $black3;
		color: $black2;
	}
	.input-lg{
		font-size: 16px;
	}
}

.nav-tabs{
	border: 1px solid $black3;
}

#search-bar{
	border: 1px solid $black3;
	.search-btn{
		position: relative;
		margin: 0px;
		input{
			padding-left: 50px;
			border: 0px;
		}
		.fa-search{
			position: absolute;
			top: 10px;
			left: 5px;
		}
		.advance-search-box{
			padding: 15px 0px;
		}
	}
	.media-type-btn{
		select{
			width: 100%;
		}
	}
	select{
		width: 65%;
		display: inline-block;
		border:0px;
		color: $black2;
	}
	#filter-box{
		padding:0px;
		& > div{
			padding: 6px 15px;
			text-align: center;
		}
	}
}

#advance-box{
	margin-bottom: 25px;
	.advsearch-content{
		border: 1px solid $black3;
		border-top: 0px;
	}
	.adv-search-btn{
		margin-top: -1px;
		font-size: 11px;
		border-radius: 0px 0px 100px 100px;
		i{
			transform: scaleY(1);
			transition: transform 0.8s;
		}
		&.active i{
			transform: scaleY(-1);
		}
	}
	.search-label{
		min-width: 150px;
		text-align: right;
	}
}

#search-bar-bottom{
	margin-top: 15px;
	select{
		background: transparent;
		border: 0px;
		color: #333333;
	}
}

#select-screen{
	display: none;
	.select-screen-boxes{

		.screen-box{
			display: none;
			&.active{
				display: block;
			}
			.single-row{
				border: 1px solid $black3;
				padding: 5px;
				text-align: center;
				margin-bottom: 25px;
				.radio{
					padding: 0px;
					.iradio_square-green{
						display: none;
					}
				}
			}
			.row{
				display: none;
			}
		}
	}
}



/* Schedule Page */
#wizard{
	padding: 25px 0px;
	#result, .panel-group.collapse{
		max-height: 600px;
		overflow: auto;
	}
	.theme-group-add{
		max-height: 810px;
		overflow: auto;
	}
	.nav-tabs{
		border: 0px;
		border-bottom: 1px solid #ddd;
		margin-bottom: 25px;
	}
}
.step-title{
	span{
		font-weight: bold;
		font-style: italic;
	}
}

#schedule-select-screen{
	.single-row{
		padding: 5px;
		text-align: center;
		margin-bottom: 25px;
		.radio{
			padding: 0px;
			.iradio_square-green{
				display: none;
			}
		}
	}
	.screen-box.current{
		h4{

		}
		.single-row{
			border:0px;
			img{
				width: 110px;
			}
		}
	}
}

#schedule-create-playlist{
	#advance-box .search-label{
		text-align: left;
	}
}

#theme-file-upload{
	.panel-heading .nav>li{
		vertical-align: top;
		a {
			font-size: 10px;
			padding: 5px !important;
			height: 100px;
			img{
				margin: 0px auto;
				height: 35px;
			}
			i{
				font-size: 35px;
				margin-bottom: 15px;
			}
		}
	}
}

.theme-template-wrapper{
	img{
		display: none;
		&.active{
			display: block !important;
		}
	}
}

.schedule-content{
	width: 100%;
	/*height: 686px;*/
	border: 1px dashed $black2;
	overflow: auto;
	padding: 25px;
}

.back-select-screen{
	position: absolute;
	cursor: pointer;
	background-color: $black2;
	padding: 11px 15px;
	border-radius: 25px;
	color: $white;
	line-height: 0px;
	right: 15px;
	z-index: 99;
	top: 15px;
	&:hover{
		span{
			width: initial;
		}
	}
}

.clone{
	width: 100% !important;
	z-index: 99;
	margin-bottom: 25px;
	.drag-marker{
		/*display: none;*/
	}
}
.mediafile, .clone{
	background: $white;
	position: relative;
	table{
		width: 100%;
		min-width: 500px;
		border-collapse: separate;
		border-spacing: 9px;
		border: 1px solid $black3;
		margin-bottom: 15px; 
		td{
			vertical-align: top;
		}
		img{
			max-width: 50px;
			margin-left: 7px;
		}
	}
}

.drag-marker{
	padding-top: 10px;
}

.theme-list{
	border: 1px solid #DDD;
	border-radius: 15px 15px 0px 0px;
	padding: 15px;
}

input[name="setTime"]{
	width: 40px;
	text-align: center;
	border-radius: 10px;
	border: 1px solid #8075c4;
	margin-right: 5px;
	padding: 0px 5px;
}

#schedule-create-playlist{
	.schedule-content{
		ul{
			padding: 0px;
			li{
				text-align: center;
				background-color: $black2;
				list-style: none;
				padding: 15px;
				min-height: 50px;
				margin: 5px 0px;
			}
		}
	}
}

#schedule-create-playlist-theme{
	.theme-create-group{
		min-height: 50px;
		margin-bottom: 15px;
		padding: 15px;
	}
	ul{
		li{
			position: relative;
			list-style: none;
			text-align: center;
			&.label{
				display: block;
				text-align: left;
				color: $black;
			}
		}
	}

	.schedule-content{
		ul{
			padding: 0px;
			li{
				text-align: center;
				background-color: $black2;
				list-style: none;
				padding: 15px;
				min-height: 50px;
				margin: 5px 0px;
			}
		}
	}
}

.theme-clone{
	padding: 15px 10px;
	text-align: center;
	p{
		margin: 0px;
	}
	.todo-actionlist{
		display: none;
	}
}
.total-vtime{
	float: left;
}
.clone-delete{
	color: $white;
	background-color: $red;
	border-radius: 100%;
	padding: 0px 4px;
	position: absolute;
	top: -10px;
	right: -10px;
}

.panel-heading{
	.action{
		margin: 0px;
		position: absolute;
		right: 15px;
		top: -8px;
	}
}

/*Account Page */
.profile-information{
	.card{
		width: 100%;
		img{
			width: 160px;
			height: 130px !important;
		}
	}
}
/*General Style*/
.form-control{
	color: $black;
}
.checkbox{
	padding: 0px;
	margin: 3px 0px;
	& > div{
		display: inline-block;
		vertical-align: text-bottom;
		margin-right: 5px;
	}
}

.border-box{
	border: 1px solid $black3;
}

.popover{
	min-width: 200px;
	z-index: 999;
	text-align: center;
}

.action-menu-box{
	height: 45px;
	margin-bottom: 25px;
}

.delete-selected{
	border: 1px solid $red;
	background-color: #ff6c60d1;
	color: $white;
	border-radius: 50px;
	padding: 10px;
	margin-bottom: 25px;
	position: fixed;
	bottom: 0px;
	left: 50%;
	z-index: 999;
	#select-all{
		display: inline-block;
		margin-right: 10px;
	}
	a{
		color: $white;
		i{
			font-size: 20px;
		}
	}
}

.action-selected{
	position: fixed;
	border: 1px solid #333;
	background-color: #ffffffde;
	padding: 15px 16px 0px 16px;
	border-radius: 50px;
	left: 57%;
	transform: translateX(-50%);
	bottom: 90px;
	z-index: 99;
}

.breadcrumb{
	background: transparent;
}
.right-border{
	border-right: 1px solid $black3;
	margin-right: -1px;
}
.top-border{
	border-top: 1px solid $black3;
	margin-top: -1px;
}

.vertical-tab{
	ul{
		margin-bottom: 15px;
		li{
			display: block;
			width: 100%;
			&.active a{
				background-color: $red !important;
				color: $white !important;
				width: 100%;
			}
			a{
				border: 0px !important;
				border-radius: 0px;
				font-size: 11px;
				padding: 10px 5px;
			}
		}
	}
}

/*Device page*/
#devices-wrapper{
	.card{
		border: 1px solid $black4;
		padding: 10px;
		table{
			font-size: 10px;
			width: 100%;
			border-spacing: 5px;
			border-collapse: separate;
		}
	}
}

#result{
	.block{
		text-align: center;
	}
}

.switch-select{
	margin-bottom: 19px;
}

#map{
	margin-top: 25px;
}

/* Edit Popup */
#popup{
	position: fixed;
	top: 0px;
	height: 100vh;
	overflow: auto;
	right: -100%;
	background-color: $white;
	z-index: 999;
	width: calc(100% - 240px);
	transition: right 1s;
	&.active{
		right: 0%;
	}
	.popup-inner{
		min-height: 1306px;
		overflow: auto;
	}
	.close-edit-popup{
		float: right;
	}
	.iradio_square-red{
		float: left;
		margin-right: 5px;
	}
	input{
		margin-bottom: 15px;
	}
	.radio{
		padding: 0px;
	}
	.category-edit{
		p{
			padding: 5px;
			border: 1px solid $black3;
		}
	}
}

.merge-left{
	#popup{
		width: 100% !important;
	}
}

/* Buttons */
.upload-btn, .cancel-btn{
	position: absolute;
	right: 15px;
	top:15px;
	text-align: center;
}
.media-type-btn{
	padding: 6px 15px;
	text-align: center;
	background: $black4;
	select{
		background: $black4;
	}
}
.btn{
	margin-bottom: 15px;
}

/* Logo */
.theme-icon{
	height: 50px;
	display: block;
	margin: 15px auto;
}

.icon{
	width: 18px;
}

/* Font Color */
.text-red{
	color: $red;
	&:hover{
		color: $red;
		font-weight: bold;
	}
}

.text-white{
	color: $white;
	&:hover{
		color: $white;
	}
}

/* Modify Theme CSS */
.upload{
	margin-bottom: 0px;
	padding: 0px;
	ul{
		padding: 0px;
		li{
			margin-bottom: 15px;
		}
	}
}

.drop{
	padding: 25px;
	font-size: 11px;
	text-decoration: initial;
}

.pagination li a {
	/*border-radius: 100%;*/
	margin: 0px 5px;
} 

.profile-information .profile-desk{
	margin-bottom: 15px;
}

.badge{
	padding: 10px 15px;
	font-size: 12px;
	border-radius: 25px;
	&.bg-primary{
		padding: 5px;
	}
	&.badge-image{
		padding: 0px;
		color: $black;
		background-color: transparent;
	}
}

/* Footer */
footer{	
	position: absolute;
	padding-left: 240px;
	bottom: 0px;
	left: 0px;
	width: 100%;
	.copyright{
		padding: 15px 0px;
	}
}


/* CSS Update 1.1 add extra Classes */
.top-nav img{
	width: 35px;
	height: 35px;
}


#previewPopup{
	.modal-dialog{
		width: 100%;
		.modal-body{
			overflow: auto;
			.mainPreviewWrapper{
				width: 1920px;
				display: block;
				position: relative;
				height: 808px;

				#previewinnerVideo{
					width: 750px;
					height: 423px;
					position: absolute;
					top: 273px;
					right: 104px;
				}

				#previewleftImage{
					position: absolute;
					width: 290px;
					height: 523px;
					left: 127px;
					top: 175px;
				}

				#previewbottomImage{
					position: absolute;
					bottom: 111px;
					left: 518px;
				}

				#previewtopImage{
					height: 100px;
					position: absolute;
					right: 82px;
					top: 94px;
					.img1, .img2, .img3, .img4, .img5{
						width: 120px;
						height: 100px;
						margin-right: 52px;
					}
				}
				#seaWindImage, #mountainForestImage{
					display: none;
				}

				video{
					width: 750px;
					height: 423px;
				}
			}
		}
		.modal-footer{
			text-align: center;
			background-color: $black2;
			position: relative;
			.btn{
				margin-bottom: 0px;
				&.btn-close{
					position: absolute;
					right: 20px;	
					top: 45px;
				}
			}
		}
	}

	.mainPreviewWrapper#mountain_forest_theme{
		#previewinnerVideo{
			top: 75px;
			right: 560px;
		}

		#previewleftImage, #previewbottomImage, #previewtopImage, #seaWindImage{
			display: none;
		}

		#mountainForestImage{
			display: block;
			position: absolute;
			top: 276px;
			left: 255px;
			img{
				width: 210px;
				height: 210px;
			}
		}
	}


	.mainPreviewWrapper#sea_wind_theme{

		#previewleftImage, #previewbottomImage, #previewtopImage, #mountainForestImage{
			display: none;
		}

		#previewinnerVideo{
			top: 75px;
			right: 560px;
		}

		#seaWindImage{
			display: block;
			.img-top{
				width: 212px;
				position: absolute;
				right: 209px;
				top: 50px;
			}
			.img-middle{
				right: 70px;
				top: 160px;
				position: absolute;
				width: 100px;
			}
			.img-bottom{
				position: absolute;
				right: 110px;
				width: 120px;
				height: 120px;
				top: 295px;
			}
		}
	}

	.mainPreviewWrapper#intro_video, .mainPreviewWrapper#brand_video{
		#previewleftImage, #previewbottomImage, #previewtopImage, #seaWindImage, #mountainForestImage{
			display: none;
		}

		#previewinnerVideo{
			width: 100%;
			height: initial;
			left:0px;
			top: 0px;
			video{
				width: 1920px;
				height: 808px;
			}
		}
	}
}

#previewPortraitPopup{
	&.portrait{
		video{
			width: 100%;
		}
		.mainPreviewWrapper{
			width: 560px;
			#portraitImageList{
				background-size: 100%;
				top: 0px;
				height: 3295px;
				img{
					width: 137px;
					margin-left: 143px;
					margin-top: 1px;
				}
				img:nth-child(4n-1){
					margin-left: 0px;
				}
			}
		}
		.modal-footer{
			text-align: center;
			background-color: $black2;
			position: relative;
			.btn{
				margin-bottom: 0px;
				&.btn-close{
					position: absolute;
					right: 20px;	
					top: 45px;
				}
			}
		} 
	}
}

#previewPortraitPopup{
	&.landscape{
		video{
			width: 100%;
		}

		.modal-dialog{
			width: 100%;
			.modal-body{
				overflow: auto;
			}
		}
		.mainPreviewWrapper{
			width: 1920px;
			display: block;
			position: relative;
			#portraitImageList{
				background-size: initial;
				top: 0px;
				height: 3295px;
				img{
					margin-left: 252px;
					margin-top: 7px;
				}
				img:nth-child(8n-3){
					margin-left: 10px;
				}
			}
		}
		.modal-footer{
			text-align: center;
			background-color: $black2;
			position: relative;
			.btn{
				margin-bottom: 0px;
				&.btn-close{
					position: absolute;
					right: 20px;	
					top: 45px;
				}
			}
		} 
	}
}

.btn-prev, .btn-next{
	padding: 30px 20px;
	border-radius: 100%;
}

@import "mobileresponsive";